.row {
    margin-bottom: 10px;
}

.row:last-child {
    margin-bottom: 0;
}

.col {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #777;
    padding: 5px;
    min-height: 30px;
    text-align: center;
}